html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.hotels-box {
    width: 90%
}

.hotel-top {
    text-align:center;
    margin : 2%

}

.hotel-textarea {
    height: 6.2em !important;
}

.info-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.info-icon {
    color : orange
}

.covid-text {
    margin : 2% 4%;
    font-size : 0.8rem;

}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    .flex-col {
        flex-direction: row;
    }

    .hotels-box {
        width: 30%
    }
}

body {
  margin-bottom: 60px;
}

.h-85 {
    height: 85% !important
}

.w-40 {
    width: 40% !important;
}

.cursor-pointer {
    cursor: pointer;
}