@page
@model Hotel_Advisor.CreateModel

@{
    ViewData["Title"] = "Create Hotel";
}

<div class="align-self-center d-flex flex-column align-items-center border container-fluid col-md-8 m-auto rounded">
    <h1 class="m-3 mb-5 w-75 p-2 border-bottom text-center">Create Hotel</h1>
    <div class="container m-auto h-100">
        <form method="post" class="d-flex flex-column justify-content-around align-items-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-floating mb-2 w-100">
                <select asp-for="Hotel.CountryID" class ="selectpicker form-control" asp-items="ViewBag.Country"></select>
                <label asp-for="Hotel.CountryID" class="control-label">Country</label>
            </div>
            <div class="form-group form-floating mb-2 w-100">
                <input asp-for="Hotel.Name" class="form-control" />
                <label asp-for="Hotel.Name" class="control-label"></label>
                <span asp-validation-for="Hotel.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-floating mb-2 w-100">
                <input asp-for="Hotel.Address" class="form-control" />
                <label asp-for="Hotel.Address" class="control-label"></label>
                <span asp-validation-for="Hotel.Address" class="text-danger"></span>
            </div>
            <div class="form-group form-floating mb-2 w-100">
                <input asp-for="Hotel.City" class="form-control" />
                <label asp-for="Hotel.City" class="control-label"></label>
                <span asp-validation-for="Hotel.City" class="text-danger"></span>
            </div>
            <div class="form-group form-floating mb-2 w-100">
                <input asp-for="Hotel.Website" class="form-control" />
                <label asp-for="Hotel.Website" class="control-label"></label>
                <span asp-validation-for="Hotel.Website" class="text-danger"></span>
            </div>
            <div class="form-group form-floating mb-2 w-100">
                <textarea asp-for="Hotel.Description" class="form-control hotel-textarea"></textarea>
                <label asp-for="Hotel.Description" class="control-label"></label>
                <span asp-validation-for="Hotel.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-floating mb-2 w-100">
                <textarea asp-for="Hotel.CovidSafety" class="form-control hotel-textarea"></textarea>
                <label asp-for="Hotel.CovidSafety" class="control-label"></label>
                <span asp-validation-for="Hotel.CovidSafety" class="text-danger"></span>
            </div>
            <button type="submit" class="w-75 btn btn-lg btn-primary my-4">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
