@page
@model Hotel_Advisor.IndexModel

@section Styles {
    <link rel="stylesheet" href="~/css/Hotels/Hotels.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "My Hotels";
}
<div class="text-centre">
    <h1 class="align-centre">My Hotels</h1>
</div>


<p>
    <a asp-page="Create">Create Hotel</a>
</p>
 
<div class ="container d-flex flex-wrap">
     @foreach (var item in Model.Hotel) 
     {
     <div class= "cards" style="width: 18rem;">
        <div class="card">
            <img src="~/css/images/hotel.jpg" alt="" class="card-image"> 
            <div class = "card-body">
                <div>
                    <i class = "card-title">@Html.DisplayFor(modelItem => item.Name)</i>
                </div>
                <div>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </div>
            </div>
        </div>
     </div>
     }
</div>



